@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para asegurar que la aplicación ocupe toda la pantalla */
html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita barras de desplazamiento */
}

/* Fondo negro para simular el espacio */
body {
  background-color: #000000;
}

/* Ocultar Vercel Toolbar en producción */
.vc-toolbar,
[data-vercel-toolbar],
#vercel-toolbar {
  display: none !important;
}

/* Asegurar que la Vercel Toolbar no aparezca en producción */
@media (min-width: 1px) {
  .vc-toolbar,
  [data-vercel-toolbar],
  #vercel-toolbar {
    display: none !important;
  }
}

