@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos para asegurar que la aplicación ocupe toda la pantalla */
html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita barras de desplazamiento */
}

/* Fondo negro para simular el espacio */
body {
  background-color: #000000;
}

